body {
    background-color: #121212;
    color: white;
    font-family: Helvetica;
}

h1 {
    width: fit-content;
    margin: auto;
}

div {
    width: fit-content;
    margin: auto;
    text-align: left;
}

button {
    width: fit-content;
    margin: auto;
    transition: cubic-bezier(0.075, 0.82, 0.165, 1) 0.2s all;
}
button:hover {
    scale: 1.4;
}

#qrcode {
    width:160px;
    height:160px;
    margin-top:15px;
    margin-bottom: 15px;
    margin: auto;
}

a {
    color: white;
}